<button onclick="start_game()" id='two_players'> 2 Players </button>
<button id='vs_computer'> vs. Computer </button>
<p id="p1"/>
<p id="p2"/>

<table style="visibility:hidden" id="table1">
	<tr><button id="button1" onclick="put_move()">1</button></tr>
	<tr>
		<th id="letter1">0</td>
	</tr>
	<tr>
		<th id="letter2">0</td>
	</tr>
	<tr>
		<th id="letter3">0</td>
	</tr>
	<tr>
		<th id="letter4">0</td>
	</tr>
	<tr>
		<th id="letter5">0</td>
	</tr>
	<tr>
		<th id="letter6">0</td>
	</tr>
</table>


<script>
	array1 = ["letter1", "letter2", "letter3", "letter4", "letter5", "letter6"];
	player_on_move = ""
	function start_game(){
		var player1 = prompt("Player 1 Name");
		var player2 = prompt("Player 2 Name");
		if (player1 && player2 != null){
			document.getElementById("p1").innerHTML = "Player 1 : " + player1;
			document.getElementById("p2").innerHTML = "Player 2 : " + player2;
			document.getElementById("two_players").disabled="true";
			document.getElementById("vs_computer").disabled="true";
			document.getElementById("table1").style.visibility = "visible"
			// document.getElementById("letter1").innerHTML = "1"
		}
	};

	function put_move(){
		if (array1 != ""){
			if ((player_on_move == 'player1') || (player_on_move=='' )){
				player_on_move = 'player2';
				on_move = array1[array1.length-1];
				array1.pop();
				document.getElementById("button1").innerHTML = "2";
				document.getElementById(on_move).innerHTML = "1";
			}
			else{
				player_on_move = 'player1';
				on_move = array1[array1.length-1];
				array1.pop();
				document.getElementById("button1").innerHTML = "1";
				document.getElementById(on_move).innerHTML = "2";
			}
		}else{
			document.getElementById("button1").disabled = "true";
		}
	}

</script>